<ion-header>
  <ion-toolbar>
    <ion-title>Help</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeTheScreen()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <b><u>Help with an order</u></b>
    </ion-card-header>
    <ion-card-content>
      <p>If you have any of the following issues:</p>
      <ul>
        <li>Payment method</li>
        <li>Food damage</li>
        <li>Missing / wrong items</li>
        <li>Order never arrived</li>
      </ul>
      <p>Contact the following email: <span style="color: green;">customerservice&#64;ubereats.co.za</span></p>
    </ion-card-content>
  </ion-card>
</ion-content>
