<ion-header>
  <style>
    .emerald-button {
      --background: #50C878; 
      --color: white;
    }

  
  
  </style>
  <ion-toolbar>
    <ion-title>Order Payment</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="modal-content">
    <p>Payment was successful!</p>
    <ion-icon name="chevron-down-circle-outline"></ion-icon>
    <ion-button expand="block" class="emerald-button" (click)="closeModalAndNavigate()">OK</ion-button>
  </div>
</ion-content>